<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | default: site.title | escape }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <div class="container">
      <header>
        {% include header.html %}
      </header>
      <main>
        {% if page.url != "/" %}
        <aside class="sidebar">
          {% include sidebar.html %}
        </aside>
        {% endif %}
        <section class="content">
          {{ content }}
        </section>
      </main>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html> 